{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block content %}
<style>
    .row{
        padding-top: 5.5em;
    }
    
    input{
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .btn{
        color: #FFF9F9;
        background-color: #BAABDA;
    }
    .btn:hover{
        color: #FFF9F9;
    }
</style>
<div class="container my-3">
    <div class="row">
        <div class="col-4">
            <h4>로그인</h4>
        </div>
        <div class="col-8 text-right">
            <span>또는 <a href="{% url 'accounts:signup' %}" style="color: #816797;">계정을 만드세요.</a></span>
        </div>
    </div>
    <form method="post" class="post-form" action="{% url 'accounts:login' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="username">사용자ID</label>
            <input type="text" class="form-control" name="username" id="username" width="600px"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" name="password" id="password" width="600px"
                   value="{{ form.password.value|default_if_none:'' }}">
        </div>
        <button type="submit" class="btn">로그인 하기</button>
    </form>
</div>
{% endblock %}