{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}
{% endblock %}

{% block content %}
<style>
    .row{
        padding-top: 5em;  
    }
    
    #font-resize{
        font-size: 1.4rem;
    }
    
    .btn{
        color: #FFF9F9;
        background-color: #BAABDA;
    }
    .btn:hover{
        color: #FFF9F9;
    }
</style>

<div class="container my-3">
    <div class="row my-3">
        <div class="col-4">
            <p id="font-resize">비밀번호 변경</p>
        </div>
        <div class="col-8 text-right">
            <span>또는 <a href="{% url 'accounts:username_change' %}" style="color: #7C3E66;">ID 변경하기</a></span>
        </div>
    </div>
        
    <div class="card-body">
        {% if form %}
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn">변경하기</button>
            </form>
        {% else %}
            <div class="alert alert-danger">
                form 객체를 지정해주세요!
            </div>
        {% endif %}
    </div>
    </div>

{% endblock %}